:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

/*
Young Serif 400
Outfit  400 600 700
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: Outfit;
  color: var(--wenge-brown);
}

article {
  margin: 2em;
}

h1 {
  font-family: "Young Serif";
  font-weight: 400;
  color: var(--dark-charcoal);
  line-height: 1;
  font-size: 2.3rem;
  margin-bottom: .7em;
}

h2 {
  color: var(--nutmeg);
  font-family: "Young Serif";
}

h4 {
  color: var(--dark-raspberry);
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
}

.prep-container {
  background-color: var(--rose-white);
}
